<!doctype html>
<!-- [if IE]><html class="ie"><![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <title>DDuke 小屋</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" type="image/x-icon" sizes="48x48" href="favicon.ico">
    <meta name="theme-color" content="#f60">
    <meta name="keywords" content="DDuke,博客,轩辕,Duke">
    <meta name="description" content="DDuke 小屋 —— Duke的个人博客">
</head>

<body>
    <!--[if lte IE 9]><span class="global-warning active">作为一个有理想, 有道德, 有文化, 有纪律的四有前端, 是绝对不会为了兼容低版本浏览器而浪费代码的, 请使用 <a target="_blank" href="http://sw.bos.baidu.com/sw-search-sp/software/fc14f1545b7/ChromeStandalone_51.0.2704.106_Setup.exe">Chrome</a> , <a href="http://www.firefox.com.cn/download/" target="_blank">Firefox</a>, <a href="http://chrome.360.cn/" target="_blank">360浏览器</a> 等非IE浏览器访问本站!</span><![endif]-->
    <div id="app"></div>
    <!-- <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/editor.md/editormd.min.js"></script> -->
</body>
</html>
