<!doctype html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <title>DDuke 小屋</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- <link rel="shortcut icon" type="image/x-icon" sizes="48x48" href="favicon.ico"> -->
    <meta name="theme-color" content="#f60">
    <meta name="keywords" content="DDuke,博客,轩辕,Duke">
    <meta name="description" content="DDuke 小屋 —— Duke的个人博客">
    <link href="/static/editor.md/css/editormd.css" rel="stylesheet"/>
</head>
<body>
    <!--vue-ssr-outlet-->
    <!-- <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script> -->
</body>
</html>
